/* Reset default margin and padding */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Apply a background color and set font styles */
body {
    background-color: #518a58;
    font-family: Arial, sans-serif;
}

/* Header Styles */
#header {
    background-color: #be6b6b;
    color: #9c7171;
    text-align: center;
    padding: 20px;
}

#header h1 {
    font-size: 2em;
}

#header ul {
    list-style: none;
}

#header li {
    display: inline;
    margin: 0 10px;
}

#header a {
    text-decoration: none;
    color: #fff;
}

/* Section Styles */
div {
    padding: 20px;
    margin: 10px;
    background-color: #576ad6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5em;
    color: #8d3751;
}

p {
    font-size: 1em;
    color: #666666;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer Styles */
#footer {
    background-color: #6e7e76;
    color: #0e9adb;
    text-align: center;
    padding: 20px;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    #header ul {
        display: block;
        text-align: center;
    }

    #header li {
        display: block;
        margin: 10px 0;
    }
}